$bg-color: gray;
$white-color: whitesmoke;

@mixin centrar { 
  text-align: center;
 justify-content: center;
 align-items: center;
}
@mixin flex ($flex, $direction){
  display: $flex;
  flex-direction: $direction;
}

/*estilos de main nosotros*/
main.nosotros{
    @include flex(flex,row );
  background-color: $bg-color;
 @include centrar;
  padding-left: 2rem;
  div {.textos-nosotros{
    text-align: center;
    color: black;}
    .imagen-nosotros {
        display: flex;
        justify-content: center;
      }
  }
}

@media (max-width: 768px) {
    main.nosotros {
      padding: 8px;
        flex-direction: column;
        background-color: $bg-color;
        @include centrar;
        img {width: 200px;}
    div  { .textos-nosotros{
         text-align: center;
        color: black;
        padding-right: 15px;}
        .imagen-nosotros{ 
            justify-content: center;
            max-width: 200px;}
            .imagen-nosotros img {
                width: 200px;
              }
    }
    
    }
}
@media (max-width: 1199px) {  
    main.nosotros {
      padding: 8px;
    flex-direction: column;
    background-color: $bg-color;
    text-align: center;
    justify-content: center;
    align-items: center;
    img {width: 400px;}
    div{
        .textos-nosotros {
            text-align: center;
            color: black;
            padding-right: 15px;
          }
          .imagen-nosotros {
            justify-content: center;
            max-width: 200px;
          }
          .imagen-nosotros img {
            max-width: 400px;
          }
    }
  }
}